@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans:wght@300&display=swap');

:root {
    --cambridge-blue: #B9D8C2;
    --opal: #9AC2C9;
    --cadet-grey: #8AA1B1;
    --rifle-green: #4A5043;
    --sunglow: #FFCB47;
}

body {
    background-color: var(--cambridge-blue);
}

h1 {
    color: black;
    padding: 5px 5px 0px 5px;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-size: 32pt;
}

h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    align-self: start;
}

 p {
    padding: 5px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

nav {
    display: flex;
    align-content: center;
    align-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--sunglow);
    padding: 3px;
}

.navlinks {
    list-style: none;
    align-items: center;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color:var(--rifle-green);
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.nav-item:hover {
    background-color: white;
}
  
.nav-item:hover a {
color: darkgreen;
}






ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-self: start;
}

.regul {
    display: flex;
    flex-direction: column;
    list-style: square;
    word-wrap: normal;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.flexbox-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexbox-container {
    display: flex;
    align-items: center;
}

.profile-image {
    max-width: 450px;
    max-height: auto;
}

.flexbox-columnar {
    flex-direction: column;
}

.flexbox-row {
    flex-direction: row;
}

.even {
    justify-content: space-evenly
}

.around {
    justify-content: space-around;
}

.wide {
    justify-content: space-between;
}

.blue-box {
    background-color: var(--cadet-grey);
}

.text-container {
    display: flex;
    align-items: center;
    width: 800px;
    min-width: 800px;
    border-radius: 2px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    
  }
tr:nth-child(even) {
    background-color: #dddddd;
}

caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.right {
    float: right;
}

.left {
    float: left;
}